@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Space+Grotesk:wght@300&display=swap');

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 5fr;
    margin: 0;
    font-family: "Montserrat";
}
/* sidebar */
.side-bar {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F6D80;
    color: white;
}

h2 {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

ul {
    list-style: none;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem;
}

li {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 1.25rem;
}
li > svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: white;
}

h2 > svg {
    height: 40px;
    width: 40px;
    margin-right: 1em;
    fill: white;
}

/* header */
.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 0.3fr 6fr 0.5fr 0.7fr 1.2fr;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
    box-shadow: #b6b7b5;
    background-color: #6AA4B0;
}

.header > svg {
    height: 1.75rem;
    width: 1.75rem;
}

.pfp {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    justify-self: end;
}

.search-bar {
    background: #E1E7E0;
    border: none;
    font-size: 1rem;
    border-radius: 1.625rem;
    height: 2rem;
}
.bell-icon, .name, .upload{
    justify-self: end;
}
.search-icon{
    justify-self: center;
}

.pfp-big, .t1 > img, .t2 > img  {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.greeting {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.greeting > p{
    margin-bottom: 0;
}
.greeting > h3{
    margin-top: 0;
}

button {
    background-color: #2B4560;
    font-family: "Montserrat";
    border-radius: 1.625rem;
    border: none;
    color: white;
    align-self: center;
    height: 50px;
    width: 70px;
    font-weight: 500;
}
.share {
    justify-self: center;
}

/*main */

.main-content {
    background-color: #d3d7d2;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 70% 28%;
    padding: 1rem;
    column-gap: 1.5rem;
}
.main-content > h4 {
    align-self: self-start;
}

.updates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}
.update {
    display: flex;
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid #2B4560;
    min-height: 200px;
    flex-direction: column;
    padding: 1rem;
}
.update > h2 {
    margin: 0;
}
.update > a {
    color: #696968;
}

.side-updates {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: -1;
    display: grid;
}
.side-updates > h3{
    justify-self: center;
}
.announce{
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
}
.a1, .a2 {
    border-bottom: 1px solid grey;
    margin: 0.5rem;
}
.a3 {
    margin: 0.5rem;
}

.side-updates > h4 {
    margin: 0.5rem;
}
.trending{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}
.t1, .t2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.profiles > h4, .profiles > h4{
    margin-bottom: 0;
}
.profiles > p, .profiles > p{
    margin-top: 0;
}
.t1 > img, .t2 > img {
    margin-bottom: 1rem;
}